.mtg-card-container {
    position: 
    relative;
}


.name-container {
    position: absolute;
    width: 320px;
    height: 20px;
    top: 37px;
    left: 45px;
  }

  span {
      float: right;
      padding-right: 15px;
  }
  
  .player-image-container {
    position: absolute;
    height: 245px;
    width: 330px;
    top: 65px;
    left: 37px;
  }
  
  .player-image {
    position: absolute;
    height: 100%;
    width: 100%;
  }