

.mtg-card-container {
  position: relative;
  width: 351.433px;
  height: 492px;
  /* overflow: hidden; */
}

.MTG-card {
 height: 100%;
}


.customAlert{
	
  display: none;
  position: fixed;
  max-width: 450px;
  min-width: 450px !important;
  min-height: 40%;
  height: 250px;
  left: 47%;
  top: 29%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  background-image: url(../assets/images/arena-monitor.png);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: Codystar;
  font-weight: bolder;
  /* border: 3px red solid; */
  /* box-shadow: 10px 15px 10px -15px #111;  */
}

.message {
  margin-top: 53px;
  max-width: 225px;
  position: absolute;
  left: 23.5%;
}
  
  /* @media all and (max-width: 1300px){ this stuff came with the customAlert 
    .message{
      font-size: 14px !important;
    }
    input[type='button']{
      height: 15% !important;
    }
  } */
  
  /* .message{
    padding: 5px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  } */
    
  .confirmButton {
    /* margin-top: 3rem; */
    position: absolute;
    left: 17.5%;
    top: 71.5%;
    background: none;
    color: white;
    font-family: Codystar;
    font-weight: bolder;
    font-size: 1.25rem;
    color: tomato;
    padding: .3em 6.5em;
    border: none;
  }
 
      
@keyframes fadeOut{
	from{
  	opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
	from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}