

.mtg-card-container {
  position: relative;
  width: 351.433px;
  height: 492px;
  /* overflow: hidden; */
}

.MTG-card {
 height: 100%;
}


.customAlert{
	
  display: none;
  position: fixed;
  max-width: 450px;
  min-width: 450px !important;
  min-height: 40%;
  height: 250px;
  left: 47%;
  top: 29%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  background-image: url(../assets/images/arena-monitor.png);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  font-family: Codystar;
  font-weight: bolder;
  /* border: 3px red solid; */
  /* box-shadow: 10px 15px 10px -15px #111;  */
}
  
  /* @media all and (max-width: 1300px){
    .message{
      font-size: 14px !important;
    }
    input[type='button']{
      height: 15% !important;
    }
  } */
  
  /* .message{
    padding: 5px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  } */
    
  /* .confirmButton {
    margin-top: 3rem;
  } */
 
      
@keyframes fadeOut{
	from{
  	opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
	from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}